{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}

{% block title %}Visiteur{% endblock %}

{% block body %}

{% if Establishment is defined %}
<h1>Liste établissements : </h1>
{% for the_establishment in Establishment %}
<a href="{{ path('app_visitor_details', {id: the_establishment.id}) }}">
{{ the_establishment.name }} - {{ the_establishment.city }} 
<br>
{{  the_establishment.adress }}
<br>
<br>
{{  the_establishment.description  }}</a>
<br>

{% endfor %}
{% endif %}

{% if suite is defined %}
  <h1> Suite :</h1>
  <h2> {{ suite.title }} </h2>
  <p> {{ suite.description }} </p>
  <p> Prix : {{ suite.price }} </p>
  <p> Image : {{ suite.image }} </p>
{% endif %}

{% endblock %}
