{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <h1>Liste des réservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Suite</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.client }}</td>
                <td>{{ reservation.suite }}</td>
                <td>{{ reservation.startDate|date('Y-m-d') }}</td>
                <td>{{ reservation.endDate|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
